{% extends 'FisiSigriBundle:Default:solicitanteLayout.html.twig' %}
{% block title %}Solicitante 1{% endblock %}
{% block content %}
    consultar
    <a href="{{ path('solicitar_usuario') }}">Solicitar</a>
{% endblock %}




