{% extends 'FisiSigriBundle:Default:solicitanteLayout.html.twig' %}
{% block title %}Lista de Solicitud{% endblock %}
{% block content %}
    <!--Barra de Búsqueda>    <-->

 <center><h1 style="margin-left: 0px ;margin-right: 100px;">Lista de Solicitudes </h1></center>
<nav class="navbar navbar-default" role="navigation">

 <div class="form-group " style="
    width: 1000px;
    margin-left: 100px;">
        <label class="col-sm-1 control-label" style="margin:5px;"> Periodo</label> 
        <div class="form-group">
                                <label class="col-sm-1 control-label" style="margin:5px;">Inicio</label>
                                
                                <div class="col-sm-2" >
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker" data-format="D, dd MM yyyy">
                                        
                                        <div class="input-group-addon">
                                            <a href="#"><i class="entypo-calendar"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
        <div class="form-group" >
                                <label class="col-sm-1 control-label" style="margin:5px;">Fin</label>
                                
                                <div class="col-sm-2" >
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker" data-format="D, dd MM yyyy">
                                        
                                        <div class="input-group-addon">
                                            <a href="#"><i class="entypo-calendar"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
        <label class="col-sm-2 control-label" style="margin:5px;"> Estado de Solicitud</label> 
         
                                
                                <div class="col-sm-2">
                                    
                                    <select name="test" class="selectboxit-container selectboxit-container control-label"  data-first-option="false" style="    border-top-width: 1px;  margin-top: 3px; padding-top: 3px;padding-bottom: 3px; padding-left: 4px; border-right-width: 1px;    border-bottom-width: 2px;    margin-bottom: 7px;">
                                        <option>Todas</option>
                                        <option value="1">Pendiente</option>
                                        <option value="2">Proceso</option>
                                        <option value="3">Finalizado</option>
                                    </select>
                                    
                                </div>





       <label>  
                                <button type="button" class="btn btn-default entypo-search"></button>
                            </label>




        </div>

 </nav>

<!--Barras>  <-->

<div class="row" style="
    width: 1200px;
    margin-left: 130px;">
    <div class="col-sm-3 col-xs-6" >
        
                <div class="tile-stats tile-red">
                    <div class="icon"><i class="entypo-mail"></i></div>
                    <div class="num" data-start="0" data-end="3" data-postfix="" data-duration="1500" data-delay="0">0</div>
        
                    <h3>Pendientes</h3>
                </div>
        
    </div>

    <div class="col-sm-3 col-xs-6">
                <div class="tile-stats tile-orange">
                    <div class="icon"><i class="entypo-mail"></i></div>
                    <div class="num" data-start="0" data-end="1" data-postfix="" data-duration="1500" data-delay="600">0</div>
        
                    <h3>Proceso</h3>
                </div>
    </div>

    <div class="col-sm-3 col-xs-6">
                <div class="tile-stats tile-green">
                    <div class="icon"><i class="entypo-mail"></i></div>
                    <div class="num" data-start="0" data-end="2" data-postfix="" data-duration="1500" data-delay="1200">0</div>
        
                    <h3>Finalizado</h3>
                </div>
    </div>
</div>
</br></br>
<!--Lista de Solicitudes>  <!-->

    <table class="table table-bordered datatable dataTable" id="table-1" role="grid" aria-describedby="table-1_info">
        <thead>
            <tr>
                <th>
        <div class="checkbox checkbox-replace">
            <input type="checkbox" id="chk-1">
        </div>
    </th>
    <th>N° de Actividad</th>
    <th>Título</th>
    <th>Estado</th>
   
    <th>Fecha</th>
    <th>Calificación</th>
    <th>Opciones</th>
</tr>
</thead>

<tbody>

    <tr>
        <td>
            <div class="checkbox checkbox-replace">
                <input type="checkbox" id="chk-21">
            </div>
        </td>
        <td>48957</td>
        <td>Laptop Malograda</td>
        <td>Iniciado</td>
        
        <td></td>
        <td>Bueno</td>
        <td>
            <a href="javascript:;" onclick="jQuery('#modal-2').modal('show');" class="btn btn-default">Editar</a>
                
            </a>


          
        </td>
    </tr>


    <tr>
        <td>
            <div class="checkbox checkbox-replace">
                <input type="checkbox" id="chk-21">
            </div>
        </td>
        <td>89576</td>
        <td>Laptop Malograda</td>
        <td>Iniciado</td>
        
        <td></td>
        <td>Regular</td>
        <td>
           <a href="javascript:;" onclick="jQuery('#modal-2').modal('show');" class="btn btn-default">Editar</a>
           
<!-- Modal 2 (Custom Width)-->
	<div class="modal fade custom-width" id="modal-2">
		<div class="modal-dialog" style="width: 60%;">
			<div class="modal-content">
				
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Solicitud N°4545454</h4>
				</div>
				
				<div class="modal-body">
				
					 <form role="form" class="form-horizontal ">

                       

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Título</label>

                            <div class="col-sm-5">

                                <input type="text" class="form-control daterange" disabled placeholder=" Laptop Malograda"/> 


                            </div>
                        </div>

                         <div class="form-group">
                            <label class="col-sm-3 control-label">Tipo</label>

                            <div class="col-sm-5">

                                <input type="text" class="form-control daterange"placeholder=" Soporte"/> 

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Estado</label>

                            <div class="col-sm-5">

                                <input type="text" class="form-control daterange"  placeholder="Iniciado"/> 


                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha Reporte</label>
						
                            <div class="form-group">
                                <div class="form-group" style="
								    margin-left: 0px;
                                    margin-top:10px;
								    margin-right: 30px;
								    border-right-width: 100px;
								    padding-left: 235px;
								    border-left-width: 50px;
								" >
                                

                                <div class="col-sm-3" >
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker" data-format="D, dd MM yyyy">

                                        <div class="input-group-addon">
                                            <a href="#"><i class="entypo-calendar"></i></a>
                                        </div>
                                    </div>
                                </div>


                                <label class="col-sm-3 control-label" style="margin:5px;">Fecha de Reserva</label>

                                <div class="col-sm-3" >
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker" data-format="D, dd MM yyyy">

                                        <div class="input-group-addon">
                                            <a href="#"><i class="entypo-calendar"></i></a>
                                        </div>
                                    </div>

                                </div>
                                </div>
                            </div>
                            
                        </div>

                    

                        <div class="form-group">
                           <label class="col-sm-3 control-label">Documento</label>

                                <div class="col-sm-5">
                                	download
                                </div>
                        </div>

                   

                         <div class="form-group">
                                <label class="col-sm-3 control-label">Descripción</label>

                                <div class="col-sm-5">

                                    <textarea class="form-control" id="field-ta" disabled placeholder="Desde hace días la laptop se reinica solita y no ejecuta  ningún documebto de excel, ni word, etc"></textarea>

                                </div>
                            </div>
                            <div class="form-group">
                               <label class="col-sm-3 control-label" style="margin:5px;">Calificación</label> 

                                 <div class="col-sm-2">
                                    
                                    <select name="test" class="selectboxit-container selectboxit-container control-label"  data-first-option="false" style="    border-top-width: 1px;  margin-top: 3px; padding-top: 3px;padding-bottom: 3px; padding-left: 4px; border-right-width: 1px;    border-bottom-width: 2px;    margin-bottom: 7px;">
                                        <option>Todas</option>
                                        <option value="1">Malo</option>
                                        <option value="2">Regular </option>
                                        <option value="3">Excelente</option>
                                    </select>
                                    
                                </div>
                            </div>

                              </form>
                              					
				</div>
				
				<div class="modal-footer">
					
					<button type="button" class="btn btn-info">Aceptar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>

    
           
        </td>
    </tr>

   

</tbody>

</table>
{% endblock %}


{% block javascripts_unique %}
{% javascripts 
        '@FisiSigriBundle/Resources/public/template/js/bootstrap-datepicker.js'
        '@FisiSigriBundle/Resources/public/template/js/bootstrap-timepicker.min.js'        
        '@FisiSigriBundle/Resources/public/template/js/icheck/icheck.min.js'
        '@FisiSigriBundle/Resources/public/template/js/selectboxit/jquery.selectBoxIt.min.js'
         '@FisiSigriBundle/Resources/public/template/js/jquery.multi-select.js'


  %}
        <script src="{{ asset_url }}"></script>

        {% endjavascripts %}{% endblock %}

        {% block stylesheets_unique %}
{% stylesheets
      
        '@FisiSigriBundle/Resources/public/template/js/selectboxit/jquery.selectBoxIt.css'

             %}
        <stylesheets src="{{ asset_url }}"></stylesheets>

        {% endstylesheets %}{% endblock %}
