<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}{% endblock %}
         {% block stylesheets_unique %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="assets/css/skins/white.css">
        
                 <link href="{{ asset('bundles/fisisigri/template/css/skins/white.css')}}" rel="stylesheet" type="text/css" media="screen" >
                 
        
        
    </head>
    <body class="page-body skin-white page-container">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block javascripts_unique %}{% endblock %}
    </body>
</html>

