{% extends 'FisiSigriBundle:Default:layout.html.twig' %}

{% block mainmenu %}
    <ul id="main-menu" class="main-menu">
       <li>
           <a href="{{path('bandeja_entrada_gestor_m')}}">
               <i class="entypo-mail"></i>
               <span class="title">Bandeja de entrada</span>
           </a>
       </li>
       <li>
           <a href="{{path('detalle_solicitud_gestor')}}">
               <i class="entypo-list"></i>
               <span class="title">Detalle de solicitud</span>
           </a>
       </li>
       <li>
           <a href="">
               <i class="entypo-info-circled"> </i>
               <span class="title"> Alertas</span>
           </a>
       </li>
    </ul>
{% endblock %}



