{% extends 'FisiSigriBundle:Default:layout.html.twig' %}

{% block mainmenu %}
    <ul id="main-menu" class="main-menu">
       <li>
           <a href="{{ path('bandeja_entrada_personal') }}" >
               <i class="entypo-mail"></i>
               <span class="title" >Bandeja de Entrada</span>
               
           </a>
       </li>
       <li>
           <a href="{{ path('gestionar_actividad_personal') }}"   >
               <i class="entypo-clipboard"></i>
               <span class="title">Gestión de Actividad</span>             
           </a>
       </li>
    </ul>
{% endblock %}




