{% extends 'FisiSigriBundle:Default:layout.html.twig' %}

{% block mainmenu %}
    <ul id="main-menu" class="main-menu">
       <li>
           <a href="#">
               <i class="entypo-chart-bar"></i>
               <span class="title">Personal 1</span>
           </a>
       </li>
       <li>
           <a href="#">
               <i class="entypo-chart-bar"></i>
               <span class="title">Personal 2</span>
           </a>
       </li>
    </ul>
{% endblock %}



