{% extends 'FisiSigriBundle:Default:layout.html.twig' %}

{% block mainmenu %}
    <ul id="main-menu" class="main-menu">
       <li>
           <a href="{{ path('bandeja_entrada_personal') }}" >
               <i class="entypo-mail"></i>
               <span class="title" >Bandeja de Entrada</span>
               
           </a>
       </li>
  
    </ul>
{% endblock %}




