{% extends 'FisiSigriBundle:Default:layout.html.twig' %}

{% block mainmenu %}
    <ul id="main-menu" class="main-menu">
       <li>
           <a href="{{ path('solicitar_usuario') }}">
               <i class="entypo-chart-bar"></i>
               <span class="title">Registrar Solicitud</span>
           </a>
       </li>
       <li>
           
           <a href="{{ path('consultar_usuario') }}">
               <i class="entypo-chart-bar"></i>
               <span class="title">Notificaciones</span>
           </a>
       </li>
    </ul>
{% endblock %}



