{% extends 'FisiSigriBundle:Default:layout.html.twig' %}

{% block mainmenu %}
    <ul id="main-menu" class="main-menu">
      <li>
           
           <a href="{{ path('solicitudes_usuario') }}">
               <i class="entypo-menu"></i>
               <span class="title">Lista de Solicitudes</span>
           </a>
       </li>
            
     

       <li>
        <a href="{{ path('solicitar_usuario') }}">
              
              <button  type="button" class="btn btn-info">Registrar Solicitud</button>
           </a>
        
       </li>
    </ul>
{% endblock %}



