<tr class="clsFilaActividad" id="trFilaActividad{{nroFila}}}" xid="{{nroFila}}">                         
       
    <td>
        <input type="text" class="form-control" style="background-color: white; border: solid; border-color: #cccccc; border-width: 0.2px;">
    </td>
    <td style="width: 150px; ">
        <select  class="selectboxit-container selectboxit-container"  style="border-top-width: 1px;  margin-top: 3px; padding-top: 3px;padding-bottom: 3px; padding-left: 4px; border-right-width: 1px;    border-bottom-width: 2px;    margin-bottom: 7px; width: 100%">
            <option>--- Seleccionar --</option>                                
            <option value="1">Pendiente</option>
            <option value="2">Proceso</option>
            <option value="3">Finalizado</option>					

        </select>
    </td>
    <td style="width: 150px;">
        <div class="input-group">
            <input type="text" class="form-control datepicker" data-format="D, dd MM yyyy"></div>
    </td>
    <td style="width: 50px; ">							
        <div class="input-group">
            <input type="text" class="form-control datepicker" data-format="D, dd MM yyyy">
        </div>						
    </td>
    <td style="width: 160px; ">

        <button type="button" class="btn btn-success">		
            <i class="entypo-check"></i>
        </button>
        <button type="button" class="btn btn-gold"  onclick="jQuery('#dRegistarActividad').modal('show', {backdrop: 'static'});">		
            <i class="entypo-pencil"></i>
        </button>

        <button type="button" class="btn btn-danger" onclick="eliminarFila({{nroFila}});">		
            <i class="entypo-trash"></i>
        </button>
    </td>                                    
</tr>
