<tr class="clsFilaResp" id="trFilaResponsable{{nroFila}}}" xid="{{nroFila}}">                         

    <td>  

        <button type="button" class="btn btn-orange entypo-search">										
        </button>
    </td>
    <td>
        
        <input type="text" class="form-control" >
    </td>
    <td>54</td>                                            
    <td><div class="input-group">
            <input type="text" class="form-control datepicker" data-format="D, dd MM yyyy"></div></td>                                            
    <td><div class="input-group">
            <input type="text" class="form-control datepicker" data-format="D, dd MM yyyy"></div></td>                                            
    <td> 0%</td>                                            
    <td>
        <button type="button" class="btn btn-success">		
            <i class="entypo-check"></i>
        </button>
        <button type="button" class="btn btn-gold">		
            <i class="entypo-pencil"></i>
        </button>
        <button type="button" class="btn btn-danger">		
            <i class="entypo-trash"></i>
        </button>


    </td>                                            
</tr>




</tr>  