

<div class="form-horizontal validate " id="dEliminarCategoria">
    <div class="form-group" >
        <div class="col-sm-4  control-label"  style="font-size: 12px; ">Categoria: </div>
        <div class="col-sm-6">
            <input type="text" value="Nombre del cargo" disabled style="width: 100%; background-color: white; border: solid; border-color: #cccccc; border-width: 0.2px; margin-left: 14px;">
        </div>
    </div>
    <div class="form-group" >
        <div class="col-sm-4  control-label"  style="font-size: 12px; ">Descripción: </div>
        <div class="col-sm-6">
            <textarea cols="68" rows="7" disabled style="width: 100%; background-color: white; border: solid; border-color: #cccccc; border-width: 0.2px; resize: none; margin-left: 15px;">
                                
            </textarea>

        </div>
    </div>

    <div>
        <center>
            <button type="button" class="btn btn-info" >Aceptar</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-info">Cancelar</button>
        </center>

    </div>


</div>

