{% extends 'FisiSigriBundle:Default:layout.html.twig' %}


{% block cabecera %}

    <div class="container-fluid">
        <div class="row" style="background-color: #08c;  ">
            <!-- Profile Info and Notifications -->
            <div class="col-lg-6 col-sm-8 clearfix">

                <ul class="user-info pull-left pull-none-xsm">

                    <!-- Profile Info -->
                    <li><!-- add class "pull-right" if you want to place this from right -->
                       
                  
                        <img src="{{asset('bundles/fisisigri/imagenes/logo.png') }}" style="margin:-15px;" />
                      
                         
                    </li>
                </ul>
            </div>

                            
<br/>
            <!-- Raw Links -->
            <div class="col-lg-6 col-sm-4 clearfix hidden-xs">

                <ul class="list-inline links-list pull-right">
                    <li>
                        <b><label style="color: #ffffff; text-align: right;">
                            Bienvenido,  <br/>
                            Nombre del usuario
                        </label>
                        </b>
                    </li>
                    <li>                      


                        <a href="#" class="tooltip-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Usuario" style=  " color: #ffffff">
                            <i class="entypo-user " style="font-size: 30px;"></i>
                        </a>
                    </li>

                    <li>
                        <a href="{{path('menu_principal')}}" class="tooltip-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Menú principal" style="color: #ffffff;">

                            <i class="entypo-home " style="font-size: 30px;"></i>
                        </a>

                    </li>
                    <li>
                        <a href="#" class="tooltip-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Salir" style="color: #ffffff;">
                            <i class="entypo-logout right" style="font-size: 29px;  "></i>
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </div>

{% endblock %}




{% block pagePrincipal %}


    <div class="container-fluid">
        

        
        <center>
            <b> <h1>MENÚ PRINCIPAL</h1><br/> </b>
        </center>


        <div class="row">
            <div class="col-lg-1 col-sm-6 col-md-4">
            </div>
            <div class="col-lg-10 col-sm-6 col-md-4">


                <div class="col-lg-4 col-sm-6 col-md-4">
                    <div class="tile-title tile-purple">
                        <div class="icon">
                            <i class="entypo-mail"></i>
                        </div>
                        <div class="title">
                            <h2 style="color: #ffffff">Bandeja de entrada</h2><br/>
                            <p><a href="{{ path('bandeja_entrada_gestor_m') }}" class="btn" role="button" style="background-color: #cc66ff; color: #ffffff">Entrar</a></p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4  col-sm-6 col-md-4">
                    <div class="tile-title tile-aqua">
                        <div class="icon">
                            <i class="entypo-list"></i>
                        </div>
                        <div class="title">
                            <h2 style="color: #ffffff">Actividades</h2><br/>
                            <p><a href="{{path("actividadesGestor")}}" class="btn btn-blue" role="button">Entrar</a></p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4  col-sm-6 col-md-4">
                    <div class="tile-title tile-pink">
                        <div class="icon">
                            <i class="entypo-shuffle"></i>
                        </div>
                        <div class="title">
                            <h2 style="color: #ffffff">Reportes</h2><br/>
                            <p><a href="#" class="btn" role="button" style="background-color: #ff6699; color: #ffffff">Entrar</a></p>
                        </div>

                    </div>
                </div>


            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-lg-3">

            </div>

            <div class="col-lg-3  col-sm-6 col-md-4">
                <div class="tile-title tile-red">
                    <div class="icon">
                        <i class="entypo-tag"></i>
                    </div>
                    <div class="title">
                        <h2 style="color: #ffffff">Seguimientos de incidencia/ requerimiento</h2><br/>
                        <p><a href="#" class="btn btn-danger" role="button">Entrar</a></p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3  col-sm-6 col-md-4">
                <div class="tile-title tile-green">
                    <div class="icon">
                        <i class="entypo-book"></i>
                    </div>
                    <div class="title">
                        <h2 style="color: #ffffff">Mantenimiento de catálogo</h2><br/>
                        <p><a href="#" class="btn btn-success" role="button">Entrar</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br/>


{% endblock %}


