{% extends 'FisiSigriBundle:Default:layoutMenu.html.twig' %}

{% block title %}Menu de Administración{% endblock %}

{% block content %}
   
    <a href="{{ path("admin_empleado")}}"> Empleados </a>
    <br/>
    <a href="{{ path("admin_rol")}}"> Roles </a>
    
    
{% endblock %}