{% extends 'FisiSigriBundle:Default:personalLayout.html.twig' %}
{% block title %}Personal 1{% endblock %}
{% block content %}
    bandeja Personal
    <a class="contenedor" href="{{ path('fisi_sigri_homepage') }}">Principal</a>
{% endblock %}





