{% extends 'FisiSigriBundle:Default:personalLayout.html.twig' %}
{% block title %}Personal 1{% endblock %}
{% block content %}
    bandeja Personal 
    <a class="contenedor" href="{{ path('fisi_sigri_homepage') }}">Principal</a>
    <table class="table table-bordered table-striped datatable" id="table-2">
        <thead>
            <tr>
                <th>
        <div class="checkbox checkbox-replace">
            <input type="checkbox" id="chk-1">
        </div>
    </th>
    <th>Student Name</th>
    <th>Average Grade</th>
    <th>Curriculum / Occupation</th>
    <th>Actions</th>
</tr>
</thead>

<tbody>

    <tr>
        <td>
            <div class="checkbox checkbox-replace">
                <input type="checkbox" id="chk-1">
            </div>
        </td>
        <td>Randy S. Smith</td>
        <td>8.7</td>
        <td>Social and human service</td>
        <td>
            <a href="#" class="btn btn-default btn-sm btn-icon icon-left">
                <i class="entypo-pencil"></i>
                Edit
            </a>

            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                <i class="entypo-cancel"></i>
                Delete
            </a>

            <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                <i class="entypo-info"></i>
                Profile
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <div class="checkbox checkbox-replace">
                <input type="checkbox" id="chk-1">
            </div>
        </td>
        <td>Ellen C. Jones</td>
        <td>7.2</td>
        <td>Education and development manager</td>
        <td>
            <a href="#" class="btn btn-default btn-sm btn-icon icon-left">
                <i class="entypo-pencil"></i>
                Edit
            </a>

            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                <i class="entypo-cancel"></i>
                Delete
            </a>

            <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                <i class="entypo-info"></i>
                Profile
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <div class="checkbox checkbox-replace">
                <input type="checkbox" id="chk-1">
            </div>
        </td>
        <td>Carl D. Kaya</td>
        <td>9.5</td>
        <td>Express Merchant Service</td>
        <td>
            <a href="#" class="btn btn-default btn-sm btn-icon icon-left">
                <i class="entypo-pencil"></i>
                Edit
            </a>

            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                <i class="entypo-cancel"></i>
                Delete
            </a>

            <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                <i class="entypo-info"></i>
                Profile
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <div class="checkbox checkbox-replace">
                <input type="checkbox" id="chk-1">
            </div>
        </td>
        <td>Jennifer J. Jefferson</td>
        <td>10</td>
        <td>Maxillofacial surgeon</td>
        <td>
            <a href="#" class="btn btn-default btn-sm btn-icon icon-left">
                <i class="entypo-pencil"></i>
                Edit
            </a>

            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                <i class="entypo-cancel"></i>
                Delete
            </a>

            <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                <i class="entypo-info"></i>
                Profile
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <div class="checkbox checkbox-replace">
                <input type="checkbox" id="chk-1">
            </div>
        </td>
        <td>April L. Baker <span class="label label-success">New Applicant</span></td>
        <td>6.8</td>
        <td>Set and exhibit designer</td>
        <td>
            <a href="#" class="btn btn-default btn-sm btn-icon icon-left">
                <i class="entypo-pencil"></i>
                Edit
            </a>

            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                <i class="entypo-cancel"></i>
                Delete
            </a>

            <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                <i class="entypo-info"></i>
                Profile
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <div class="checkbox checkbox-replace">
                <input type="checkbox" id="chk-1">
            </div>
        </td>
        <td>Lillian J. Earl</td>
        <td>7.6</td>
        <td>Social and human service assistant</td>
        <td>
            <a href="#" class="btn btn-default btn-sm btn-icon icon-left">
                <i class="entypo-pencil"></i>
                Edit
            </a>

            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                <i class="entypo-cancel"></i>
                Delete
            </a>

            <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                <i class="entypo-info"></i>
                Profile
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <div class="checkbox checkbox-replace">
                <input type="checkbox" id="chk-1">
            </div>
        </td>
        <td>Ellen C. Jones</td>
        <td>7.2</td>
        <td>Education and development manager</td>
        <td>
            <a href="#" class="btn btn-default btn-sm btn-icon icon-left">
                <i class="entypo-pencil"></i>
                Edit
            </a>

            <a href="#" class="btn btn-danger btn-sm btn-icon icon-left">
                <i class="entypo-cancel"></i>
                Delete
            </a>

            <a href="#" class="btn btn-info btn-sm btn-icon icon-left">
                <i class="entypo-info"></i>
                Profile
            </a>
        </td>
    </tr>

</tbody>
</table>
{% endblock %}





