{% extends 'FisiSigriBundle:Default:personalLayout.html.twig' %}
{% block title %}Personal 1{% endblock %}
{% block content %}

    <!--Datos de la actividad><-->
    
   
<center><h1>N° Actividad : 6546 </h1></center>
    <center><div class="panel-body">
 <form role="form" class="form-horizontal ">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Solicitante</label>

                            <div class="col-sm-5">

                                <input type="text" class="form-control daterange" disabled placeholder=" Maryori Cueva Veliz"/> 

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Título</label>

                            <div class="col-sm-5">

                                <input type="text" class="form-control daterange" disabled placeholder=" Laptop Malograda"/> 


                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Estado</label>

                            <div class="col-sm-5">

                                <input type="text" class="form-control daterange" disabled placeholder="Iniciado"/> 


                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fecha Estimada</label>
						
                            <div class="form-group">
                                <div class="form-group" style="
								    margin-left: 0px;
								    margin-right: 30px;
								    border-right-width: 100px;
								    padding-left: 235px;
								    border-left-width: 50px;
								" >
                                	<label class="col-sm-1 control-label" style="margin:5px;">Inicio</label>

                                <div class="col-sm-2" >
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker" data-format="D, dd MM yyyy">

                                        <div class="input-group-addon">
                                            <a href="#"><i class="entypo-calendar"></i></a>
                                        </div>
                                    </div>
                                </div>


                                <label class="col-sm-1 control-label" style="margin:5px;">Fin</label>

                                <div class="col-sm-2" >
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker" data-format="D, dd MM yyyy">

                                        <div class="input-group-addon">
                                            <a href="#"><i class="entypo-calendar"></i></a>
                                        </div>
                                    </div>

                                </div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="form-group">
                             <label class="col-sm-3 control-label">Fecha Real</label>

                               <div class="form-group">
                               	<div class="form-group" style="
								    margin-left: 0px;
								    margin-right: 30px;
								    border-right-width: 100px;
								    padding-left: 235px;
								    border-left-width: 50px;
								" >
                                <label class="col-sm-1 control-label" style="margin:5px;">Inicio</label>

                                <div class="col-sm-2" >
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker" data-format="D, dd MM yyyy">

                                        <div class="input-group-addon">
                                            <a href="#"><i class="entypo-calendar"></i></a>
                                        </div>
                                    </div>
                                </div>


                                <label class="col-sm-1 control-label" style="margin:5px;">Fin</label>

                                <div class="col-sm-2" >
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker" data-format="D, dd MM yyyy">

                                        <div class="input-group-addon">
                                            <a href="#"><i class="entypo-calendar"></i></a>
                                        </div>
                                    </div>

                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                           <label class="col-sm-3 control-label">Prioridad</label>

                                <div class="col-sm-5">

                                    <input type="text" class="form-control daterange" disabled placeholder="Alta"/>

                                </div>
                        </div>

                         <div class="form-group">
                                <label class="col-sm-3 control-label">Responsable</label>

                                <div class="col-sm-5">

                                    <input type="text" class="form-control daterange" disabled placeholder="Mario Alvarez"/> 

                                </div>
                            </div>

                         <div class="form-group">
                                <label class="col-sm-3 control-label">Descripción</label>

                                <div class="col-sm-5">

                                    <textarea class="form-control" id="field-ta" disabled placeholder="Desde hace días la laptop se reinica solita y no ejecuta  ningún documebto de excel, ni word, etc"></textarea>

                                </div>
                            </div>
  </form>


        </div></center>


    <br>
    <br>


    <!--Desarrollo de Actividad><-->

    <center><h1>Desarrollo de Actividad </h1></center>
    <center><div class="panel-body">

            <form role="form" class="form-horizontal form-groups-bordered">

                <div class="col-sm-offset-3 col-sm-5" style=" margin-left: 300px;">						

                    <button type="button" class="btn btn-default">Iniciar Actividad</button>
                    <button type="button" class="btn btn-default">Finalizar Actividad</button>
                </div>
            </form>




        </div></center>


    <br>
    <br>


    <!--Linea de Tiempo><-->
    <center><h1>Línea de Tiempo</h1></center>
    <br>
    <br>

    <div class="timeline-centered" style="
         margin-left: 0px;
         margin-right: 100px;
         ">

        <article class="timeline-entry">

            <div class="timeline-entry-inner">
                <time class="timeline-time" datetime="2014-12-09T03:45"><span>03:45 AM</span> <span>Today</span></time>

                <div class="timeline-icon bg-success">
                    <i class="entypo-feather"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">Mario Alvarez</a> <span>posted a status update</span></h2>
                    <p>Se realizó una limpieza interna de la laptop</p>
                </div>
            </div>

        </article>
        <article class="timeline-entry">

            <div class="timeline-entry-inner">
                <time class="timeline-time" datetime="2014-12-09T03:45"><span>03:45 AM</span> <span>Today</span></time>

                <div class="timeline-icon bg-success">
                    <i class="entypo-feather"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">Mario Alvarez</a> <span>posted a status update</span></h2>
                    <p>Solicitó cd de reparación de Windows</p>
                </div>
            </div>

        </article>
        <article class="timeline-entry">

            <div class="timeline-entry-inner">
                <time class="timeline-time" datetime="2014-12-09T03:45"><span>03:45 AM</span> <span>Today</span></time>

                <div class="timeline-icon bg-success">
                    <i class="entypo-feather"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
                    <p>Se reinstalo el sistema opertaivo</p>
                </div>
            </div>

        </article>
        <article class="timeline-entry begin">

            <div class="timeline-entry-inner">

                <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                    <i class="entypo-flight"></i>
                </div>

            </div>

        </article>
    </div>

    <table class="table table-bordered">
        <tbody>


        <td>
            <strong>Line Chart</strong>
            <br />
            <div id="chart8" style="height: 300px"></div>
        </td>
    </tr>
</tbody>
</table>



<!--Notificacion><-->



<!-- Modal 6 (Long Modal)-->
<div class="modal fade" id="modal-6">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Notificación</h4>
            </div>

            <div class="modal-body">



                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <label for="field-3" class="control-label">Destinatario</label>

                            <input type="text" class="form-control" id="field-3" placeholder="maryori.cueva@cnm.gob.pe">
                        </div>	

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <label for="field-3" class="control-label">Asunto</label>

                            <input type="text" class="form-control" id="field-3" placeholder="Escriba el Asunto aqui">
                        </div>	

                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group no-margin">
                            <label for="field-7" class="control-label">Mensaje</label>

                            <textarea class="form-control autogrow" id="field-7" placeholder="Escribir el Mensaje aqui"></textarea>
                        </div>	

                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-info" href="javascript:;" onclick="jQuery('#modal-4').modal('show', {backdrop: 'static'});" class="btn btn-default">Enviar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal 4 (Confirm)-->
<div class="modal fade" id="modal-4" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Mensaje de información</h4>
            </div>

            <div class="modal-body">

                Su mensaje fue enviado con éxito

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>




<center><div class="panel-body">

        <form role="form" class="form-horizontal form-groups-bordered">

            <div class="col-sm-offset-3 col-sm-5" style=" margin-left: 300px;">                     

                <a href="javascript:;" onclick="jQuery('#modal-6').modal('show', {backdrop: 'static'});" class="btn btn-default">Notificación</a>

            </div>
        </form>




    </div></center>


<br>
<br>

</div>

{% endblock %}

{% block javascripts_unique %}
{% javascripts 
        '@FisiSigriBundle/Resources/public/template/js/bootstrap-datepicker.js'
        '@FisiSigriBundle/Resources/public/template/js/icheck/icheck.min.js'
        
             %}
        <script src="{{ asset_url }}"></script>

        {% endjavascripts %}{% endblock %}



